.answers-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
div {
  margin-top: 20px;
  margin-bottom: 20px;
}
::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
}
