.closed-question-card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrongAnswerMessage {
  color: red;
}

.correctAnswerMessage {
  color: green;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}
